<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myCurriculumLabel" jhiTranslate="tcsApp.curriculum.home.createOrEditLabel">Create or
			edit a Curriculum</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!curriculum.id">
			<label class="front-nhs-lb"  for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
					[(ngModel)]="curriculum.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.name" for="field_name">Name</label>
			<input type="text" class="form-control" name="name" id="field_name"
					[(ngModel)]="curriculum.name"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.start" for="field_start">Start</label>
			<div class="input-group">
				<input id="field_start" type="text" class="form-control" name="start" ngbDatepicker
					#startDp="ngbDatepicker" [(ngModel)]="curriculum.start"
				/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" (click)="startDp.toggle()"><i
							class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.end" for="field_end">End</label>
			<div class="input-group">
				<input id="field_end" type="text" class="form-control" name="end" ngbDatepicker #endDp="ngbDatepicker"
					[(ngModel)]="curriculum.end"
				/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" (click)="endDp.toggle()"><i
							class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.curriculumSubType"
					for="field_curriculumSubType">Curriculum Sub Type</label>
			<select class="form-control" name="curriculumSubType" [(ngModel)]="curriculum.curriculumSubType"
					id="field_curriculumSubType">
				<option value="MEDICAL_CURRICULUM" jhiTranslate="tcsApp.CurriculumSubType.MEDICAL_CURRICULUM">
					MEDICAL_CURRICULUM
				</option>
				<option value="MEDICAL_SPR" jhiTranslate="tcsApp.CurriculumSubType.MEDICAL_SPR">MEDICAL_SPR</option>
				<option value="DENTAL_CURRICULUM" jhiTranslate="tcsApp.CurriculumSubType.DENTAL_CURRICULUM">
					DENTAL_CURRICULUM
				</option>
				<option value="DENTAL_SPR" jhiTranslate="tcsApp.CurriculumSubType.DENTAL_SPR">DENTAL_SPR</option>
				<option value="SUB_SPECIALTY" jhiTranslate="tcsApp.CurriculumSubType.SUB_SPECIALTY">SUB_SPECIALTY
				</option>
				<option value="DENTAL_POST_CCST" jhiTranslate="tcsApp.CurriculumSubType.DENTAL_POST_CCST">
					DENTAL_POST_CCST
				</option>
				<option value="ACF_OTHER_FUNDING" jhiTranslate="tcsApp.CurriculumSubType.ACF_OTHER_FUNDING">
					ACF_OTHER_FUNDING
				</option>
				<option value="ACL" jhiTranslate="tcsApp.CurriculumSubType.ACL">ACL</option>
				<option value="AFT" jhiTranslate="tcsApp.CurriculumSubType.AFT">AFT</option>
				<option value="ACL_OTHER_FUNDING" jhiTranslate="tcsApp.CurriculumSubType.ACL_OTHER_FUNDING">
					ACL_OTHER_FUNDING
				</option>
				<option value="CLINICAL_LECTURER" jhiTranslate="tcsApp.CurriculumSubType.CLINICAL_LECTURER">
					CLINICAL_LECTURER
				</option>
				<option value="CLINICAL_TEACHING_FELLOW"
						jhiTranslate="tcsApp.CurriculumSubType.CLINICAL_TEACHING_FELLOW">CLINICAL_TEACHING_FELLOW
				</option>
				<option value="CLINICAL_RESEARCH_FELLOW"
						jhiTranslate="tcsApp.CurriculumSubType.CLINICAL_RESEARCH_FELLOW">CLINICAL_RESEARCH_FELLOW
				</option>
				<option value="ACFNIHR_FUNDING" jhiTranslate="tcsApp.CurriculumSubType.ACFNIHR_FUNDING">
					ACFNIHR_FUNDING
				</option>
				<option value="ACLNIHR_FUNDING" jhiTranslate="tcsApp.CurriculumSubType.ACLNIHR_FUNDING">
					ACLNIHR_FUNDING
				</option>
				<option value="OTHER_FELLOWSHIP" jhiTranslate="tcsApp.CurriculumSubType.OTHER_FELLOWSHIP">
					OTHER_FELLOWSHIP
				</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.assessmentType"
				   for="field_assessmentType">Assessment Type</label>
			<select class="form-control" name="assessmentType" [(ngModel)]="curriculum.assessmentType"
					id="field_assessmentType">
				<option value="ARCP" jhiTranslate="tcsApp.AssessmentType.ARCP">ARCP</option>
				<option value="RITA" jhiTranslate="tcsApp.AssessmentType.RITA">RITA</option>
				<option value="ACADEMIC" jhiTranslate="tcsApp.AssessmentType.ACADEMIC">ACADEMIC</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.doesThisCurriculumLeadToCct"
				   for="field_doesThisCurriculumLeadToCct">Does This Curriculum Lead To Cct</label>
			<input type="checkbox" class="form-control" name="doesThisCurriculumLeadToCct"
				   id="field_doesThisCurriculumLeadToCct"
				   [(ngModel)]="curriculum.doesThisCurriculumLeadToCct"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.curriculum.periodOfGrace" for="field_periodOfGrace">Period
				Of Grace</label>
			<input type="number" class="form-control" name="periodOfGrace" id="field_periodOfGrace"
					[(ngModel)]="curriculum.periodOfGrace"
			/>
		</div>

		<div class="form-group">
			<label jhiTranslate="tcsApp.curriculum.grade" class="front-nhs-lb" for="field_grade">Grade</label>
			<select class="form-control" id="field_grade" multiple name="grade" [(ngModel)]="curriculum.grades">
				<option [ngValue]="getSelected(curriculum.grades, gradeOption)"
						*ngFor="let gradeOption of grades; trackBy: trackGradeById">{{gradeOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label jhiTranslate="tcsApp.curriculum.specialty" class="front-nhs-lb" for="field_specialty">Specialty</label>
			<select class="form-control" id="field_specialty" name="specialty" [(ngModel)]="curriculum.specialtyId">
				<option [ngValue]="null"></option>
				<option [ngValue]="specialtyOption.id"
						*ngFor="let specialtyOption of specialties; trackBy: trackSpecialtyById">{{specialtyOption.id}}
				</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()" *ngIf="false">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn tis-btn-nhs-blue">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
