<div *ngIf="specialtyGroup">
	<h2><span jhiTranslate="tcsApp.specialtyGroup.detail.title">Specialty Group</span> {{specialtyGroup.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.specialtyGroup.name">Name</span></dt>
		<dd>
			<span>{{specialtyGroup.name}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn tis-btn-nhs-lb">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'specialty-group-tis-programmes/'+ specialtyGroup.id + '/edit'} }]"
			replaceUrl="true"
			class="btn tis-btn-nhs-blue">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
