<div *ngIf="programme">
	<h2><span jhiTranslate="tcsApp.programme.detail.title">Programme</span> {{programme.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.programme.status">Status</span></dt>
		<dd>
			<span jhiTranslate="{{'tcsApp.Status.' + programme.status}}">{{programme.status}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.programme.managingDeanery">Managing Deanery</span></dt>
		<dd>
			<span>{{programme.managingDeanery}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.programme.programmeName">Programme Name</span></dt>
		<dd>
			<span>{{programme.programmeName}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.programme.programmeNumber">Programme Number</span></dt>
		<dd>
			<span>{{programme.programmeNumber}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.programme.leadProvider">Lead Provider</span></dt>
		<dd>
			<span>{{programme.leadProvider}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn tis-btn-nhs-lb">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'programme-tis-programmes/'+ programme.id + '/edit'} }]"
			replaceUrl="true"
			class="btn tis-btn-nhs-blue">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
