<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myProgrammeLabel" jhiTranslate="tcsApp.programme.home.createOrEditLabel">Create or
			edit a Programme</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!programme.id">
			<label class="front-nhs-lb"  for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="programme.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programme.status" for="field_status">Status</label>
			<select class="form-control" name="status" [(ngModel)]="programme.status" id="field_status">
				<option value="CURRENT" jhiTranslate="tcsApp.Status.CURRENT">CURRENT</option>
				<option value="INACTIVE" jhiTranslate="tcsApp.Status.INACTIVE">INACTIVE</option>
				<option value="DELETE" jhiTranslate="tcsApp.Status.DELETE">DELETE</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programme.managingDeanery"
				   for="field_managingDeanery">Managing Deanery</label>
			<input type="text" class="form-control" name="managingDeanery" id="field_managingDeanery"
				   [(ngModel)]="programme.managingDeanery"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programme.programmeName" for="field_programmeName">Programme
				Name</label>
			<input type="text" class="form-control" name="programmeName" id="field_programmeName"
				   [(ngModel)]="programme.programmeName"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programme.programmeNumber"
				   for="field_programmeNumber">Programme Number</label>
			<input type="text" class="form-control" name="programmeNumber" id="field_programmeNumber"
				   [(ngModel)]="programme.programmeNumber"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programme.leadProvider" for="field_leadProvider">Lead
				Provider</label>
			<input type="text" class="form-control" name="leadProvider" id="field_leadProvider"
				   [(ngModel)]="programme.leadProvider"
			/>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()" *ngIf="false">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn tis-btn-nhs-blue">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
