<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myProgrammeMembershipLabel"
			jhiTranslate="tcsApp.programmeMembership.home.createOrEditLabel">Create or edit a Programme Membership</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!programmeMembership.id">
			<label class="front-nhs-lb"  for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="programmeMembership.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.programmeMembershipType"
				   for="field_programmeMembershipType">Programme Membership Type</label>
			<select class="form-control" name="programmeMembershipType"
					[(ngModel)]="programmeMembership.programmeMembershipType" id="field_programmeMembershipType">
				<option value="SUBSTANTIVE" jhiTranslate="tcsApp.ProgrammeMembershipType.SUBSTANTIVE">SUBSTANTIVE
				</option>
				<option value="LAT" jhiTranslate="tcsApp.ProgrammeMembershipType.LAT">LAT</option>
				<option value="FTSTA" jhiTranslate="tcsApp.ProgrammeMembershipType.FTSTA">FTSTA</option>
				<option value="MILITARY" jhiTranslate="tcsApp.ProgrammeMembershipType.MILITARY">MILITARY</option>
				<option value="VISITOR" jhiTranslate="tcsApp.ProgrammeMembershipType.VISITOR">VISITOR</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.rotation" for="field_rotation">Rotation</label>
			<input type="text" class="form-control" name="rotation" id="field_rotation"
				   [(ngModel)]="programmeMembership.rotation"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.curriculumStartDate"
				   for="field_curriculumStartDate">Curriculum Start Date</label>
			<div class="input-group">
				<input id="field_curriculumStartDate" type="text" class="form-control" name="curriculumStartDate"
					   ngbDatepicker #curriculumStartDateDp="ngbDatepicker"
					   [(ngModel)]="programmeMembership.curriculumStartDate"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="curriculumStartDateDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.curriculumEndDate"
				   for="field_curriculumEndDate">Curriculum End Date</label>
			<div class="input-group">
				<input id="field_curriculumEndDate" type="text" class="form-control" name="curriculumEndDate"
					   ngbDatepicker #curriculumEndDateDp="ngbDatepicker"
					   [(ngModel)]="programmeMembership.curriculumEndDate"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="curriculumEndDateDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.periodOfGrace"
				   for="field_periodOfGrace">Period Of Grace</label>
			<input type="number" class="form-control" name="periodOfGrace" id="field_periodOfGrace"
				   [(ngModel)]="programmeMembership.periodOfGrace"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.programmeStartDate"
				   for="field_programmeStartDate">Programme Start Date</label>
			<div class="input-group">
				<input id="field_programmeStartDate" type="text" class="form-control" name="programmeStartDate"
					   ngbDatepicker #programmeStartDateDp="ngbDatepicker"
					   [(ngModel)]="programmeMembership.programmeStartDate"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="programmeStartDateDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.curriculumCompletionDate"
				   for="field_curriculumCompletionDate">Curriculum Completion Date</label>
			<div class="input-group">
				<input id="field_curriculumCompletionDate" type="text" class="form-control"
					   name="curriculumCompletionDate" ngbDatepicker #curriculumCompletionDateDp="ngbDatepicker"
					   [(ngModel)]="programmeMembership.curriculumCompletionDate"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="curriculumCompletionDateDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.programmeEndDate"
				   for="field_programmeEndDate">Programme End Date</label>
			<div class="input-group">
				<input id="field_programmeEndDate" type="text" class="form-control" name="programmeEndDate"
					   ngbDatepicker #programmeEndDateDp="ngbDatepicker"
					   [(ngModel)]="programmeMembership.programmeEndDate"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="programmeEndDateDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.leavingDestination"
				   for="field_leavingDestination">Leaving Destination</label>
			<input type="text" class="form-control" name="leavingDestination" id="field_leavingDestination"
				   [(ngModel)]="programmeMembership.leavingDestination"
			/>
		</div>

		<div class="form-group">
			<label class="front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.programme" for="field_programme">Programme</label>
			<select class="form-control" id="field_programme" name="programme"
					[(ngModel)]="programmeMembership.programmeId">
				<option [ngValue]="null"></option>
				<option [ngValue]="programmeOption.id"
						*ngFor="let programmeOption of programmes; trackBy: trackProgrammeById">{{programmeOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label class="front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.curriculum" for="field_curriculum">Curriculum</label>
			<select class="form-control" id="field_curriculum" name="curriculum"
					[(ngModel)]="programmeMembership.curriculumId">
				<option [ngValue]="null"></option>
				<option [ngValue]="curriculumOption.id"
						*ngFor="let curriculumOption of curricula; trackBy: trackCurriculumById">{{curriculumOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label class="front-nhs-lb" jhiTranslate="tcsApp.programmeMembership.trainingNumber" for="field_trainingNumber">Training
				Number</label>
			<select class="form-control" id="field_trainingNumber" name="trainingNumber"
					[(ngModel)]="programmeMembership.trainingNumberId">
				<option [ngValue]="null"></option>
				<option [ngValue]="trainingNumberOption.id"
						*ngFor="let trainingNumberOption of trainingnumbers; trackBy: trackTrainingNumberById">
					{{trainingNumberOption.id}}
				</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()" *ngIf="false">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn tis-btn-nhs-blue">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
