#tis-header {
  height: 4.125rem;
  @include box-shadow(0px, 15px, 12px, -7px, #ccc);
  margin-bottom: 1.250em;
  z-index: 1;
  position: relative;

  .wrapper {
    border-top: 1px solid $bk-dark-grey;
    border-bottom: 1px solid $bk-dark-grey;
    box-shadow: 1px 2px 6px 1px #bababa;
    position: relative;
    z-index: 1;
  }

  .navbar-brand {
    // 15px 21px
    display: block;
    padding: 0;
    margin: 0.9375rem 0 0 1.313rem;
    // padding:0.938rem 0rem 0.750rem 1.313rem;
  }

  .right-wrapper{
    margin-top: 1.75rem;
  }

  .navbar{
    padding: 0;
    margin: 0;
    font-weight: bold;
    // height: 4.125em;

    button.navbar-toggler{
      margin-top: 1em;
    }

    .navbar-text{
      font-size: 0.856rem;
      padding-right: 20px;
      line-height: 3.9rem;
      color: #000;
    }

    .navbar-nav{
      // margin-top: 2.32rem;
      height: 2.250rem;
      line-height: 2.250rem;
      font-size: 0.813rem;
      li{
        margin-top: 1.188rem;
        height: 2.250rem;
        border-left: 1px solid #ddd;
        i {
          padding: 0px 15px 0px 15px;
          font-size:1.125rem;
          // line-height: 1.438rem;
          line-height: 2.250rem;
        }
      }
    }

    .username{
      font-size: 0.865rem;
      padding: 0px 20px 0px 20px;
    }

     @include media-breakpoint-down(md){
      .navbar-text{
        font-size: 0.856rem;
        padding-left: 15px;
        line-height: 1rem;
        color: #000;
      }
      .navbar-nav{
        height:auto;
        background:#e5eef8;
        margin-top: 12px;
        padding: 10px;
        font-size: 0.813rem;
        z-index: 999999;
        li{
          margin-top: 0rem;
          border-left:0;
          line-height: 2.25rem;
          i {
            line-height: 2.25rem;
            padding: 0px 10px 0px 12px;
            vertical-align: sub;
          }
          span{
            // display: inline-block;
            // vertical-align: middle;
            line-height: 2.25rem;
          }
        }
        .username{
          padding: 0px 10px 0px 12px;
          line-height: 2.250rem;
        }
      }
    }

    .front-admin a {
      color: black;

      &.active,
      &:hover {
        border-bottom: 3px solid $nhs-blue;
      }
    }

    .hee-icon {
      @include font-size($nhs-font-large);
    }

    .front-admin {
      color: $nhs-blue;
    }
    .nav-link{
         padding: 0;
      }
  }

  .login-info {
    float: right;
    padding-top: 4px;
  }

  .user-details {
    @include clickable();
  }

  .login-info {
    @include font-size($nhs-font-small);
    text-align: right;
    padding-right: 15px;
  }

  .has-icon {
    padding: 8px 15px;
    border-left: 1px solid $bk-dark-grey;
    float: right;
    @include clickable();

    .hee-icon {
      @include font-size($nhs-font-xxlarge);
    }
  }

  .sub-nav {
    border-bottom: 1px solid $bk-dark-grey;
    position: relative;
    z-index: 0;

    a {
      color: #000;
      @include font-size($nhs-font-normal);
      padding: 10px;
      min-width: 23%;
      text-align: center;
      font-weight: bold;
      @include grey-bg-gradient();
      display: block;
      float: left;
      border-right: 1px solid $bk-dark-grey;

      &:first-child {
        border-left: none;
      }

      &.active {
        background: #fff;
        position: relative;
        top: 1px;
        padding-top: 9px;
        border-bottom: 1px solid #fff;
      }

      &:hover {
        text-decoration: none;
        color: $nhs-blue;

        &.not-allowed {
          color: #000;
        }
      }
    }
  }

  .notifications-badge {
    position: relative;
  }
  .notifications-badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: .7em;
    background: $nhs-red;
    color: white;
    font-weight: bold;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
  }

  .dropdown-menu{
    a:hover{
      color: #fff;
      background-color: $nhs-blue;
    }
  }

  // for small screens mobile
  // @include media-breakpoint-down(xs){

  // }

  // // medium screens
  //  @include media-breakpoint-down(md){

  // }
}
