<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myPlacementLabel" jhiTranslate="tcsApp.placement.home.createOrEditLabel">Create or
			edit a Placement</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!placement.id">
			<label for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="placement.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.status" for="field_status">Status</label>
			<input type="text" class="form-control" name="status" id="field_status"
				   [(ngModel)]="placement.status"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.nationalPostNumber"
				   for="field_nationalPostNumber">National Post Number</label>
			<input type="text" class="form-control" name="nationalPostNumber" id="field_nationalPostNumber"
				   [(ngModel)]="placement.nationalPostNumber"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.site" for="field_site">Site</label>
			<input type="text" class="form-control" name="site" id="field_site"
				   [(ngModel)]="placement.site"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.grade" for="field_grade">Grade</label>
			<input type="text" class="form-control" name="grade" id="field_grade"
				   [(ngModel)]="placement.grade"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.specialty"
				   for="field_specialty">Specialty</label>
			<input type="text" class="form-control" name="specialty" id="field_specialty"
				   [(ngModel)]="placement.specialty"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.dateFrom" for="field_dateFrom">Date
				From</label>
			<div class="input-group">
				<input id="field_dateFrom" type="text" class="form-control" name="dateFrom" ngbDatepicker
					   #dateFromDp="ngbDatepicker" [(ngModel)]="placement.dateFrom"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateFromDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.dateTo" for="field_dateTo">Date To</label>
			<div class="input-group">
				<input id="field_dateTo" type="text" class="form-control" name="dateTo" ngbDatepicker
					   #dateToDp="ngbDatepicker" [(ngModel)]="placement.dateTo"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateToDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.placementType" for="field_placementType">Placement
				Type</label>
			<select class="form-control" name="placementType" [(ngModel)]="placement.placementType"
					id="field_placementType">
				<option value="INPOSTSTANDARD" jhiTranslate="tcsApp.PlacementType.INPOSTSTANDARD">INPOSTSTANDARD
				</option>
				<option value="INPOSTEXTENSION" jhiTranslate="tcsApp.PlacementType.INPOSTEXTENSION">INPOSTEXTENSION
				</option>
				<option value="OOPC" jhiTranslate="tcsApp.PlacementType.OOPC">OOPC</option>
				<option value="OOPE" jhiTranslate="tcsApp.PlacementType.OOPE">OOPE</option>
				<option value="OOPR" jhiTranslate="tcsApp.PlacementType.OOPR">OOPR</option>
				<option value="OOPT" jhiTranslate="tcsApp.PlacementType.OOPT">OOPT</option>
				<option value="PARENTALLEAVE" jhiTranslate="tcsApp.PlacementType.PARENTALLEAVE">PARENTALLEAVE</option>
				<option value="SICKLEAVE" jhiTranslate="tcsApp.PlacementType.SICKLEAVE">SICKLEAVE</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.placementWholeTimeEquivalent"
				   for="field_placementWholeTimeEquivalent">Placement Whole Time Equivalent</label>
			<input type="number" class="form-control" name="placementWholeTimeEquivalent"
				   id="field_placementWholeTimeEquivalent"
				   [(ngModel)]="placement.placementWholeTimeEquivalent"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.placement.slotShare" for="field_slotShare">Slot
				Share</label>
			<input type="checkbox" class="form-control" name="slotShare" id="field_slotShare"
				   [(ngModel)]="placement.slotShare"
			/>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
