// .for($i, $n) {.-each($i)}
// .for($n)     when (isnumber($n)) {.for(1, $n)}
// .for($i, $n) when not ($i = $n)  {
// 	@include for(($i + ($n - $i) / abs($n - $i)), $n);
// }

// // ............................................................
// // .for-each

// .for($array)   when (default()) {.for-impl_(length($array))}
// .for-impl_($i) when ($i > 1)    {.for-impl_(($i - 1))}
// .for-impl_($i) when ($i > 0)    {.-each(extract($array, $i))}

@mixin font-size($sizeValue) {
  $remValue: $sizeValue;
  $pxValue: ($sizeValue * 10);
  font-size: #{$pxValue}px;
  font-size: #{$remValue}rem;
}

@mixin screen-title() {
  @include font-size($nhs-font-large);
  margin: 15px 0;
  font-weight: bold;
}

@mixin card-line() {
  line-height: 14px;
  padding: 3px;
}

@mixin nhs-box-shadow() {
  border: 1px solid $bk-dark-grey;
  border-top: 2px solid $nhs-blue;
  box-shadow: 2px 2px 2px $bk-darker-grey;
}

@mixin subtle-box-shadow() {
  box-shadow: 0 15px 15px 0 $bk-darker-grey;
}

@mixin sharp-box-shadow() {
  box-shadow: 0 8px 8px 0 $bk-darker-grey;
}

@mixin h2-card() {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(5.0);
  font-weight: bold;
}

@mixin card-label() {
  @include font-size($nhs-font-small);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

@mixin clickable() {
  cursor: pointer;
}

@mixin centered() {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

@mixin component-title() {
  font-weight: bold;
  @include font-size($nhs-font-medium);
  display: block;
  margin-bottom: 15px;
}

.component-title {
  @include component-title();
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.top-gradient {
  background: linear-gradient($light-grey, white 5px);
}

.admin-bk {
  background-color: $admin-lb;
}

.tis-panel {
  border: 1px solid $light-grey;
}

.not-allowed {
  cursor: not-allowed;
}

.display-table {
  display: table;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

@mixin active-bg-gradient() {
  color: #fff;
  text-decoration: none;
  background-color: $active-grad-start;
  background-image: linear-gradient($active-grad-start, $active-grad-end);
}

@mixin grey-bg-gradient() {
  background-color: $bk-grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(#fff, $bk-dark-grey); /* Standard syntax */
}

@mixin table-row-hover() {
  background: $table-row-hover;
  color: #000;
}

@mixin icon-panel() {
  text-align: center;
  display: inline-block;
  height: 28px;
  width: 28px;
  @include font-size($nhs-font-large);
  padding-top: 4px;
}

.icon-panel {
  @include icon-panel();
}

.icon-panel-medium {
  @include icon-panel();
  height: 40px;
  width: 40px;
  @include font-size(2.8);
  padding-top: 6px;
}

.icon-panel-text {
  @include icon-panel();
  width: 34px;
  font-weight: bold;
  @include font-size($nhs-font-medium);
}

.icon-panel-text-medium {
  @include icon-panel();
  height: 34px;
  width: 44px;
  font-weight: bold;
  @include font-size($nhs-font-large);
}

.position-relative {
  position: relative;
}

@mixin dropdown-panel() {
  display: none;
  position: absolute;
  z-index: 9;
  padding: 1em;
  width: 15em;
  height: auto;
  background-color: $bk-grey;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  @include font-size($nhs-font-small);
  border: solid 1px $bk-dark-grey;
  border-radius: 0;
}

;
.dropdown-panel {
  @include dropdown-panel();
}

.version-indicator {
  color: $nhs-blue;
  bottom: 10px;
}