.data-filter-tabs {
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  // draw bottom border/line
  &:after {
    content: "";
    display: block;
    width: 100%;
    background: $bk-dark-grey;
    height: 1px;
    position: absolute;
    bottom: 0;
  }

  // default anchor css
  a {
    text-align: center;
    min-width: 160px;
    min-height: 77px;
    margin-right: 10px;
    border-top: solid 5px $active-grad-start;
    outline: solid 1px $nhs-blue;
    float: left;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    @include sharp-box-shadow();
    @include active-bg-gradient();
    position: relative;

    p,
    b {
      color: #fff;
    }
    p {
      @include font-size($nhs-font-small);
      font-weight: bold;
      margin: 0;
      line-height: 2em;
    }
    b {
      @include font-size(4.0);
      line-height: 40px;
      display: inline-block;

      span:first-child {
        padding-right: 11px;
        border-right: 1px solid #fff;
        display: inline-block;
      }
    }
  }

  // active and hover styles
  a:hover,
  a:focus {
    text-decoration: none;
  }

  a:focus {
    outline: 0;
  }

  a:hover,
  a.active,
  a.highlight:hover,
  a.highlight.active {
    background: #fff;
    @include subtle-box-shadow();
    border-color: $nhs-blue;
    outline-color: $bk-dark-grey;

    p {
      color: $nhs-blue;
    }
    b {
      color: $nhs-dark-blue;

      span:first-child {
        border-right-color: $nhs-dark-blue;
      }
    }

    // create tab on effect
    &:after {
      content: "";
      display: block;
      width: 100%;
      background: #fff;
      height: 1px;
      bottom: 0;
      position: absolute;
      z-index: 1;
      margin: 0 -5px;
    }
  }

  // highlighted styles
  a.highlight {
    background: $nhs-dark-blue;
    border-color: $nhs-dark-blue;
    outline-color: $nhs-dark-blue;

    .hee-icon {
      @include font-size($nhs-font-xlarge);
      font-weight: 200;
      top: 4px;
      position: relative;
      padding-right: 5px;
    }
  }
}
