.left-nav {
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;

    &:first-child a {
      border-top: none;
    }
  }
  a {
    border-top: solid 1px $bk-dark-grey;
    display: block;
    padding: 10px 15px;
    color: inherit;
    font-weight: bold;
    @include grey-bg-gradient();

    &.active,
    &:hover {
      @include active-bg-gradient();
    }
  }
}
