/* simple utility classes */
$max-width: 1170px;

.grey-border {
  border: 1px solid $bk-dark-grey;
}

.max-width {
  max-width: $max-width;
}

.centered {
  @include centered();
}

.clr-white {
  color: white;
}

/* ********************** PADDINGS ********************** */
/* compiles to: .p-left-0 {padding-left: 0px} ... */
.p {
  $list: 0 1 2 3 5 10 15 20 25 30 35 40 45 50 55 60;
  @each $val in $list {
    &-left-#{$val} {
      padding-left: (1px * $val);
    }
    &-right-#{$val} {
      padding-right: (1px * $val);
    }
    &-top-#{$val} {
      padding-top: (1px * $val);
    }
    &-bot-#{$val} {
      padding-bottom: (1px * $val);
    }
    &-#{$val} {
      padding-left: (1px * $val);
      padding-right: (1px * $val);
      padding-top: (1px * $val);
      padding-bottom: (1px * $val);
    }
  }
}

/* ********************** MARGINS ********************** */
/* compiles to: .m-left-0 {margin-left: 0px} ... */
.m {
  $list: 0 1 2 3 5 10 15 20 25 30 35 40 45 50 55 60;
  @each $val in $list {
    &-left-#{$val} {
      margin-left: (1px * $val);
    }
    &-right-#{$val} {
      margin-right: (1px * $val);
    }
    &-top-#{$val} {
      margin-top: (1px * $val);
    }
    &-bot-#{$val} {
      margin-bottom: (1px * $val);
    }
    &-#{$val} {
      margin-left: (1px * $val);
      margin-right: (1px * $val);
      margin-top: (1px * $val);
      margin-bottom: (1px * $val);
    }
  }
}

/* ********************** NHS colour palette *********************** */
.bk {
  @each $color in $nhs-color-names {
    &-#{$color} {
      background-color: #{map-get($nhs-color-map, $color)};
      color: white;
    }
  }
}

.front {
  @each $color in $nhs-color-names {
    &-#{$color} {
      color: #{map-get($nhs-color-map, $color)};
    }
  }
}

.front-white {
  color: white;
}

.border {
  @each $color in $nhs-color-names {
    &-#{$color} {
      border: 1px solid #{map-get($nhs-color-map, $color)};
    }
  }
}

.bk-nhs-red-80pct {
  background-color: $nhs-red-80pct;
  color: black;
}

.bk-nhs-red-50pct {
  background-color: $nhs-red-50pct;
  color: black;
}

.bk-nhs-red-30pct {
  background-color: $nhs-red-30pct;
  color: black;
}

.bk-nhs-green-80pct {
  background-color: $nhs-green-80pct;
  color: black;
}

.bk-nhs-green-50pct {
  background-color: $nhs-green-50pct;
  color: black;
}

.bk-nhs-green-30pct {
  background-color: $nhs-green-30pct;
  color: black;
}

.bk-nhs-orange-80pct {
  background-color: $nhs-orange-80pct;
  color: black;
}

.bk-nhs-orange-50pct {
  background-color: $nhs-orange-50pct;
  color: black;
}

.bk-nhs-orange-30pct {
  background-color: $nhs-orange-30pct;
  color: black;
}

.bk-nhs-blue {
  background: $nhs-blue;
  color: #fff;
}

.bk-nhs-lb-80pct {
  background-color: $nhs-lb-80pct;
  color: white;
}

.bk-nhs-lb-50pct {
  background-color: $nhs-lb-50pct;
  color: black;
}

.bk-nhs-lb-30pct {
  background-color: $nhs-lb-30pct;
  color: black;
}

.bk-nhs-ruby-80pct {
  background-color: $nhs-ruby-80pct;
  color: white;
}

.bk-nhs-ruby-50pct {
  background-color: $nhs-ruby-50pct;
  color: black;
}

.bk-nhs-ruby-30pct {
  background-color: $nhs-ruby-30pct;
  color: black;
}

.bk-nhs-grey {
  background-color: $nhs-grey;
  color: black;
}

.bk-nhs-black {
  background-color: black;
  color: white;
}

.bk-nhs-white {
  background-color: white;
  color: black;
}

