// bootstrap
// $icon-font-path: '/common/fonts/';

// font family
$nhs-font: Arial, Helvetica, sans-serif;

// font-sizes
$nhs-font-tiny:    1.0;
$nhs-font-small:   1.2;
$nhs-font-normal:  1.4;
$nhs-font-medium:  1.6;
$nhs-font-large:   1.8;
$nhs-font-xlarge:  2.0;
$nhs-font-xxlarge: 2.4;
