<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myTariffFundingTypeFieldsLabel"
			jhiTranslate="tcsApp.tariffFundingTypeFields.home.createOrEditLabel">Create or edit a Tariff Funding Type
			Fields</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!tariffFundingTypeFields.id">
			<label for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="tariffFundingTypeFields.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffFundingTypeFields.effectiveDateFrom"
				   for="field_effectiveDateFrom">Effective Date From</label>
			<div class="input-group">
				<input id="field_effectiveDateFrom" type="text" class="form-control" name="effectiveDateFrom"
					   ngbDatepicker #effectiveDateFromDp="ngbDatepicker"
					   [(ngModel)]="tariffFundingTypeFields.effectiveDateFrom"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="effectiveDateFromDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffFundingTypeFields.effectiveDateTo"
				   for="field_effectiveDateTo">Effective Date To</label>
			<div class="input-group">
				<input id="field_effectiveDateTo" type="text" class="form-control" name="effectiveDateTo" ngbDatepicker
					   #effectiveDateToDp="ngbDatepicker" [(ngModel)]="tariffFundingTypeFields.effectiveDateTo"
				/>
				<span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="effectiveDateToDp.toggle()"><i
							class="fa fa-calendar"></i></button>
                </span>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffFundingTypeFields.tariffRate"
				   for="field_tariffRate">Tariff Rate</label>
			<input type="number" class="form-control" name="tariffRate" id="field_tariffRate"
				   [(ngModel)]="tariffFundingTypeFields.tariffRate"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffFundingTypeFields.placementRate"
				   for="field_placementRate">Placement Rate</label>
			<input type="number" class="form-control" name="placementRate" id="field_placementRate"
				   [(ngModel)]="tariffFundingTypeFields.placementRate"
			/>
		</div>

		<div class="form-group">
			<label jhiTranslate="tcsApp.tariffFundingTypeFields.levelOfPost" for="field_levelOfPost">Level Of
				Post</label>
			<select class="form-control" id="field_levelOfPost" name="levelOfPost"
					[(ngModel)]="tariffFundingTypeFields.levelOfPostId">
				<option [ngValue]="null"></option>
				<option [ngValue]="tariffRateOption.id"
						*ngFor="let tariffRateOption of levelofposts; trackBy: trackTariffRateById">
					{{tariffRateOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label jhiTranslate="tcsApp.tariffFundingTypeFields.placementRateFundedBy"
				   for="field_placementRateFundedBy">Placement Rate Funded By</label>
			<select class="form-control" id="field_placementRateFundedBy" name="placementRateFundedBy"
					[(ngModel)]="tariffFundingTypeFields.placementRateFundedById">
				<option [ngValue]="null"></option>
				<option [ngValue]="placementFunderOption.id"
						*ngFor="let placementFunderOption of placementratefundedbies; trackBy: trackPlacementFunderById">
					{{placementFunderOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label jhiTranslate="tcsApp.tariffFundingTypeFields.placementRateProvidedTo"
				   for="field_placementRateProvidedTo">Placement Rate Provided To</label>
			<select class="form-control" id="field_placementRateProvidedTo" name="placementRateProvidedTo"
					[(ngModel)]="tariffFundingTypeFields.placementRateProvidedToId">
				<option [ngValue]="null"></option>
				<option [ngValue]="placementFunderOption.id"
						*ngFor="let placementFunderOption of placementrateprovidedtos; trackBy: trackPlacementFunderById">
					{{placementFunderOption.id}}
				</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
