<div *ngIf="placement">
	<h2><span jhiTranslate="tcsApp.placement.detail.title">Placement</span> {{placement.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.placement.status">Status</span></dt>
		<dd>
			<span>{{placement.status}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.nationalPostNumber">National Post Number</span></dt>
		<dd>
			<span>{{placement.nationalPostNumber}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.site">Site</span></dt>
		<dd>
			<span>{{placement.site}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.grade">Grade</span></dt>
		<dd>
			<span>{{placement.grade}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.specialty">Specialty</span></dt>
		<dd>
			<span>{{placement.specialty}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.dateFrom">Date From</span></dt>
		<dd>
			<span>{{placement.dateFrom | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.dateTo">Date To</span></dt>
		<dd>
			<span>{{placement.dateTo | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.placementType">Placement Type</span></dt>
		<dd>
			<span jhiTranslate="{{'tcsApp.PlacementType.' + placement.placementType}}">{{placement.placementType}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.placementWholeTimeEquivalent">Placement Whole Time Equivalent</span>
		</dt>
		<dd>
			<span>{{placement.placementWholeTimeEquivalent}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placement.slotShare">Slot Share</span></dt>
		<dd>
			<span>{{placement.slotShare}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'placement-tis-programmes/'+ placement.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
