<div>
	<h2>
		<span jhiTranslate="tcsApp.trainingNumber.home.title">Training Numbers</span>
		<button class="btn tis-btn-nhs-blue float-right create-training-number-tis-programmes"
				[routerLink]="['/', { outlets: { popup: ['training-number-tis-programmes-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="tcsApp.trainingNumber.home.createLabel">
            Create new Training Number
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="trainingNumbers">
		<table class="tis-table">
			<thead>
			<tr>
				<th><span jhiTranslate="global.field.id">ID</span></th>
				<th><span jhiTranslate="tcsApp.trainingNumber.trainingNumberType">Training Number Type</span></th>
				<th><span jhiTranslate="tcsApp.trainingNumber.localOffice">Local Office</span></th>
				<th><span jhiTranslate="tcsApp.trainingNumber.number">Number</span></th>
				<th><span jhiTranslate="tcsApp.trainingNumber.appointmentYear">Appointment Year</span></th>
				<th><span jhiTranslate="tcsApp.trainingNumber.typeOfContract">Type Of Contract</span></th>
				<th><span jhiTranslate="tcsApp.trainingNumber.suffix">Suffix</span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let trainingNumber of trainingNumbers ;trackBy: trackId">
				<td>
					<a [routerLink]="['../training-number-tis-programmes', trainingNumber.id ]">{{trainingNumber.id}}</a>
				</td>
				<td jhiTranslate="{{'tcsApp.TrainingNumberType.' + trainingNumber.trainingNumberType}}">
					{{trainingNumber.trainingNumberType}}
				</td>
				<td>{{trainingNumber.localOffice}}</td>
				<td>{{trainingNumber.number}}</td>
				<td>{{trainingNumber.appointmentYear}}</td>
				<td>{{trainingNumber.typeOfContract}}</td>
				<td>{{trainingNumber.suffix}}</td>
				<td class="text-center">
					<div class="btn-group">
						<button type="submit"
								[routerLink]="['../training-number-tis-programmes', trainingNumber.id ]"
								class="btn tis-btn-nhs-lb btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'training-number-tis-programmes/'+ trainingNumber.id + '/edit'} }]"
								replaceUrl="true"
								class="btn tis-btn-nhs-blue btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'training-number-tis-programmes/'+ trainingNumber.id + '/delete'} }]"
								replaceUrl="true"
								class="btn tis-btn-nhs-ruby btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
