<div>
	<h2>
		<span jhiTranslate="tcsApp.specialty.home.title">Specialties</span>
		<button class="btn tis-btn-nhs-blue float-right create-specialty-tis-programmes"
				[routerLink]="['/', { outlets: { popup: ['specialty-tis-programmes-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="tcsApp.specialty.home.createLabel">
            Create new Specialty
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="specialties">
		<table class="tis-table">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="status"><span jhiTranslate="tcsApp.specialty.status">Status</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="college"><span jhiTranslate="tcsApp.specialty.college">College</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="nhsSpecialtyCode"><span jhiTranslate="tcsApp.specialty.nhsSpecialtyCode">Nhs Specialty Code</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="specialtyType"><span jhiTranslate="tcsApp.specialty.specialtyType">Specialty Type</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="specialtyGroupId"><span
						jhiTranslate="tcsApp.specialty.specialtyGroup">Specialty Group</span> <span
						class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let specialty of specialties ;trackBy: trackId">
				<td><a [routerLink]="['../specialty-tis-programmes', specialty.id ]">{{specialty.id}}</a></td>
				<td jhiTranslate="{{'tcsApp.Status.' + specialty.status}}">{{specialty.status}}</td>
				<td>{{specialty.college}}</td>
				<td>{{specialty.nhsSpecialtyCode}}</td>
				<td jhiTranslate="{{'tcsApp.SpecialtyType.' + specialty.specialtyType}}">{{specialty.specialtyType}}
				</td>
				<td>
					<div *ngIf="specialty.specialtyGroupId">
						<a [routerLink]="['../specialty-group-tis-programmes', specialty.specialtyGroupId  ]">{{specialty.specialtyGroupId}}</a>
					</div>
				</td>
				<td class="text-center">
					<div class="btn-group">
						<button type="submit"
								[routerLink]="['../specialty-tis-programmes', specialty.id ]"
								class="btn tis-btn-nhs-lb btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'specialty-tis-programmes/'+ specialty.id + '/edit'} }]"
								replaceUrl="true"
								class="btn tis-btn-nhs-blue btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'specialty-tis-programmes/'+ specialty.id + '/delete'} }]"
								replaceUrl="true"
								class="btn tis-btn-nhs-ruby btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="specialties && specialties.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
