<div *ngIf="specialty">
	<h2><span jhiTranslate="tcsApp.specialty.detail.title">Specialty</span> {{specialty.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.specialty.status">Status</span></dt>
		<dd>
			<span jhiTranslate="{{'tcsApp.Status.' + specialty.status}}">{{specialty.status}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.specialty.college">College</span></dt>
		<dd>
			<span>{{specialty.college}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.specialty.nhsSpecialtyCode">Nhs Specialty Code</span></dt>
		<dd>
			<span>{{specialty.nhsSpecialtyCode}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.specialty.specialtyType">Specialty Type</span></dt>
		<dd>
			<span jhiTranslate="{{'tcsApp.SpecialtyType.' + specialty.specialtyType}}">{{specialty.specialtyType}}</span>
		</dd>
		<dt><span class="front-nhs-lb" jhiTranslate="tcsApp.specialty.specialtyGroup">Specialty Group</span></dt>
		<dd>
			<div *ngIf="specialty.specialtyGroupId">
				<a [routerLink]="['/specialty-group-tis-programmes', specialty.specialtyGroupId]">{{specialty.specialtyGroupId}}</a>
			</div>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn tis-btn-nhs-lb">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'specialty-tis-programmes/'+ specialty.id + '/edit'} }]"
			replaceUrl="true"
			class="btn tis-btn-nhs-blue">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
