<div *ngIf="tariffRate">
	<h2><span jhiTranslate="tcsApp.tariffRate.detail.title">Tariff Rate</span> {{tariffRate.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.tariffRate.gradeAbbreviation">Grade Abbreviation</span></dt>
		<dd>
			<span>{{tariffRate.gradeAbbreviation}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffRate.tariffRate">Tariff Rate</span></dt>
		<dd>
			<span>{{tariffRate.tariffRate}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffRate.tariffRateFringe">Tariff Rate Fringe</span></dt>
		<dd>
			<span>{{tariffRate.tariffRateFringe}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffRate.tariffRateLondon">Tariff Rate London</span></dt>
		<dd>
			<span>{{tariffRate.tariffRateLondon}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'tariff-rate-tis-programmes/'+ tariffRate.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
