<div>
	<h2>
		<span jhiTranslate="tcsApp.tariffRate.home.title">Tariff Rates</span>
		<button class="btn btn-primary float-right create-tariff-rate-tis-programmes"
				[routerLink]="['/', { outlets: { popup: ['tariff-rate-tis-programmes-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="tcsApp.tariffRate.home.createLabel">
            Create new Tariff Rate
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="tariffRates">
		<table class="table table-striped">
			<thead>
			<tr>
				<th><span jhiTranslate="global.field.id">ID</span></th>
				<th><span jhiTranslate="tcsApp.tariffRate.gradeAbbreviation">Grade Abbreviation</span></th>
				<th><span jhiTranslate="tcsApp.tariffRate.tariffRate">Tariff Rate</span></th>
				<th><span jhiTranslate="tcsApp.tariffRate.tariffRateFringe">Tariff Rate Fringe</span></th>
				<th><span jhiTranslate="tcsApp.tariffRate.tariffRateLondon">Tariff Rate London</span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let tariffRate of tariffRates ;trackBy: trackId">
				<td><a [routerLink]="['../tariff-rate-tis-programmes', tariffRate.id ]">{{tariffRate.id}}</a></td>
				<td>{{tariffRate.gradeAbbreviation}}</td>
				<td>{{tariffRate.tariffRate}}</td>
				<td>{{tariffRate.tariffRateFringe}}</td>
				<td>{{tariffRate.tariffRateLondon}}</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../tariff-rate-tis-programmes', tariffRate.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'tariff-rate-tis-programmes/'+ tariffRate.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'tariff-rate-tis-programmes/'+ tariffRate.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
