<div *ngIf="tariffFundingTypeFields">
	<h2><span jhiTranslate="tcsApp.tariffFundingTypeFields.detail.title">Tariff Funding Type Fields</span>
		{{tariffFundingTypeFields.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.tariffFundingTypeFields.effectiveDateFrom">Effective Date From</span></dt>
		<dd>
			<span>{{tariffFundingTypeFields.effectiveDateFrom | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffFundingTypeFields.effectiveDateTo">Effective Date To</span></dt>
		<dd>
			<span>{{tariffFundingTypeFields.effectiveDateTo | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffFundingTypeFields.tariffRate">Tariff Rate</span></dt>
		<dd>
			<span>{{tariffFundingTypeFields.tariffRate}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffFundingTypeFields.placementRate">Placement Rate</span></dt>
		<dd>
			<span>{{tariffFundingTypeFields.placementRate}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffFundingTypeFields.levelOfPost">Level Of Post</span></dt>
		<dd>
			<div *ngIf="tariffFundingTypeFields.levelOfPostId">
				<a [routerLink]="['/tariff-rate-tis-programmes', tariffFundingTypeFields.levelOfPostId]">{{tariffFundingTypeFields.levelOfPostId}}</a>
			</div>
		</dd>
		<dt><span jhiTranslate="tcsApp.tariffFundingTypeFields.placementRateFundedBy">Placement Rate Funded By</span>
		</dt>
		<dd>
			<div *ngIf="tariffFundingTypeFields.placementRateFundedById">
				<a [routerLink]="['/placement-funder-tis-programmes', tariffFundingTypeFields.placementRateFundedById]">{{tariffFundingTypeFields.placementRateFundedById}}</a>
			</div>
		</dd>
		<dt><span
				jhiTranslate="tcsApp.tariffFundingTypeFields.placementRateProvidedTo">Placement Rate Provided To</span>
		</dt>
		<dd>
			<div *ngIf="tariffFundingTypeFields.placementRateProvidedToId">
				<a [routerLink]="['/placement-funder-tis-programmes', tariffFundingTypeFields.placementRateProvidedToId]">{{tariffFundingTypeFields.placementRateProvidedToId}}</a>
			</div>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'tariff-funding-type-fields-tis-programmes/'+ tariffFundingTypeFields.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
