<div>
	<h2>
		<span jhiTranslate="tcsApp.fundingComponents.home.title">Funding Components</span>
		<button class="btn btn-primary float-right create-funding-components-tis-programmes"
				[routerLink]="['/', { outlets: { popup: ['funding-components-tis-programmes-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="tcsApp.fundingComponents.home.createLabel">
            Create new Funding Components
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="fundingComponents">
		<table class="table table-striped">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="percentage"><span jhiTranslate="tcsApp.fundingComponents.percentage">Percentage</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="amount"><span jhiTranslate="tcsApp.fundingComponents.amount">Amount</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="fundingOrganisationId"><span jhiTranslate="tcsApp.fundingComponents.fundingOrganisation">Funding Organisation</span>
					<span class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let fundingComponents of fundingComponents ;trackBy: trackId">
				<td><a [routerLink]="['../funding-components-tis-programmes', fundingComponents.id ]">{{fundingComponents.id}}</a>
				</td>
				<td>{{fundingComponents.percentage}}</td>
				<td>{{fundingComponents.amount}}</td>
				<td>
					<div *ngIf="fundingComponents.fundingOrganisationId">
						<a [routerLink]="['../placement-funder-tis-programmes', fundingComponents.fundingOrganisationId  ]">{{fundingComponents.fundingOrganisationId}}</a>
					</div>
				</td>
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../funding-components-tis-programmes', fundingComponents.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'funding-components-tis-programmes/'+ fundingComponents.id + '/edit'} }]"
								replaceUrl="true"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'funding-components-tis-programmes/'+ fundingComponents.id + '/delete'} }]"
								replaceUrl="true"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="fundingComponents && fundingComponents.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
