<div *ngIf="fundingComponents">
	<h2><span jhiTranslate="tcsApp.fundingComponents.detail.title">Funding Components</span> {{fundingComponents.id}}
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.fundingComponents.percentage">Percentage</span></dt>
		<dd>
			<span>{{fundingComponents.percentage}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.fundingComponents.amount">Amount</span></dt>
		<dd>
			<span>{{fundingComponents.amount}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.fundingComponents.fundingOrganisation">Funding Organisation</span></dt>
		<dd>
			<div *ngIf="fundingComponents.fundingOrganisationId">
				<a [routerLink]="['/placement-funder-tis-programmes', fundingComponents.fundingOrganisationId]">{{fundingComponents.fundingOrganisationId}}</a>
			</div>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'funding-components-tis-programmes/'+ fundingComponents.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
