<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myTariffRateLabel" jhiTranslate="tcsApp.tariffRate.home.createOrEditLabel">Create or
			edit a Tariff Rate</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!tariffRate.id">
			<label for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="tariffRate.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffRate.gradeAbbreviation"
				   for="field_gradeAbbreviation">Grade Abbreviation</label>
			<input type="text" class="form-control" name="gradeAbbreviation" id="field_gradeAbbreviation"
				   [(ngModel)]="tariffRate.gradeAbbreviation"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffRate.tariffRate" for="field_tariffRate">Tariff
				Rate</label>
			<input type="text" class="form-control" name="tariffRate" id="field_tariffRate"
				   [(ngModel)]="tariffRate.tariffRate"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffRate.tariffRateFringe"
				   for="field_tariffRateFringe">Tariff Rate Fringe</label>
			<input type="text" class="form-control" name="tariffRateFringe" id="field_tariffRateFringe"
				   [(ngModel)]="tariffRate.tariffRateFringe"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.tariffRate.tariffRateLondon"
				   for="field_tariffRateLondon">Tariff Rate London</label>
			<input type="text" class="form-control" name="tariffRateLondon" id="field_tariffRateLondon"
				   [(ngModel)]="tariffRate.tariffRateLondon"
			/>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
