<div *ngIf="funding">
	<h2><span jhiTranslate="tcsApp.funding.detail.title">Funding</span> {{funding.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.funding.status">Status</span></dt>
		<dd>
			<span>{{funding.status}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.funding.startDate">Start Date</span></dt>
		<dd>
			<span>{{funding.startDate | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.funding.endDate">End Date</span></dt>
		<dd>
			<span>{{funding.endDate | date:'mediumDate'}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.funding.fundingType">Funding Type</span></dt>
		<dd>
			<span jhiTranslate="{{'tcsApp.FundingType.' + funding.fundingType}}">{{funding.fundingType}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.funding.fundingIssue">Funding Issue</span></dt>
		<dd>
			<span>{{funding.fundingIssue}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'funding-tis-programmes/'+ funding.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
