//compiles to: .tis-btn-nhs-blue {...} .tis-btn-nhs-blue:hover{...} ...
.tis-btn {
  @each $color in $nhs-color-names {
    &-#{$color} {
      background-color: map-get($nhs-color-map, $color);
      border-radius: 0;
      border-bottom: 2px solid black;
      color: #fff;
    }
    &-#{$color}:hover {
      background-color: tint(map-get($nhs-color-map, $color), 20%);
      color: #fff;
    }
  ;
  }
}

.tis-label {
  @include font-size($nhs-font-small);
  color: $nhs-lb;
  margin-bottom: 5px;
  font-weight: normal;
}

// hide ie's extra clear field icon
.tis-input::-ms-clear {
  height: 0;
  width: 0;
}

.tis-input,
.tis-textarea,
.tis-dropdown .btn-default {
  border-radius: 0;
  border: solid 1px $bk-dark-grey;
}

.has-error .tis-dropdown .btn-default {
  border: solid 1px $state-danger-text;
}

.tis-dropdown {
  .ui-select-search {
    border-radius: 0;
  }

  .ui-select-toggle .caret {
    border: none;
    font-style: normal;
    margin: 1px 12px 0 0;
    position: static;

    &:before {
      content: '';
      width: 0;
      height: 100%;
      position: absolute;
      border-left: 1px solid $bk-dark-grey;
      top: 0;
      right: 35px;
    }
    &:after {
      font-family: 'Glyphicons Halflings';
      content: "\e114";
      position: absolute;
      top: 7px;
    }
  }

  .ui-select-match-text {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ui-select-choices {
    width: auto;
    max-height: 215px;
  }
}

.tis-textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.tis-search {
  position: relative;

  input {
    padding-left: 30px;
  }
  .fa-search,
  .fa-remove {
    position: absolute;
    top: 0;
    padding: 5px;
    @include clickable();
  }

  .fa-search {
    left: 0;
    color: $nhs-blue;
  }
  .glyphicon-remove {
    right: 0;
  }
}

/* tagged search */
.smart-search.is-tagged {
  margin: 0 10px 20px 0;

  .tis-search {
    width: 75%;
  }
  .btn {
    margin-left: 10px;
  }
}

.tagged-search,
.tagged-search .glyphicon-remove {
  border: solid 2px $nhs-blue;
  border-radius: 15px;
  padding: 2px;
}

.tagged-search {
  padding-left: 7px;
  margin: 0 10px 20px 0;
  color: $nhs-blue;
  position: relative;
  top: 3px;

  .search-string {
    position: relative;
    top: -1px;
  }

  .glyphicon-remove {
    cursor: pointer;
    margin-left: 20px;

    &:hover {
      background: $nhs-blue;
      color: #fff;
    }
  }
}

/* tagged search */
