.tis-table {
  border-top: 1px solid $bk-dark-grey;
  border-bottom: 1px solid $bk-dark-grey;
  width: 100%;

  .clickable,
  tr td {
    @include clickable();
  }
  tr {
    border-top: solid 1px $bk-dark-grey;
  }
  th, td {
    @include font-size($nhs-font-small);
    padding: 6px;
  }

  th {
    border: 1px solid $bk-dark-grey;
    @include grey-bg-gradient();
  }
  td {
    border-left: 1px solid $bk-dark-grey;
    border-right: 1px solid $bk-dark-grey;
  }
  th .cell-content,
  td .cell-content {
    position: relative;
    overflow: hidden;
  }
  th .cell-content {
    padding-right: 12px;
  }
  th .glyphicon {
    float: right;
    margin-left: 10px;
  }
  .thead-label {
    display: block;
    float: left;
    width: 85%;
  }
  .has-icon {
    .glyphicon,
    .hee-icon {
      top: 0;
      margin-left: 10px;
    }

    .hee-icon-popout {
      @include clickable();
    }
  }
  .hee-icon-down-triangle,
  .hee-icon-up-triangle {
    text-align: right;
    right: 0;
    @include font-size($nhs-font-tiny);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
  }
  tbody {
    tr:nth-child(even) {
      @extend .bk-nhs-white;
    }
    tr:nth-child(odd) {
      @extend .bk-nhs-grey;
    }
    tr:hover {
      @include table-row-hover();
    }
    tr.highlight {
      @include active-bg-gradient();
      td {
        color: #fff;
      }
    }
    tr.empty {
      background-color: tint($nhs-green, 85%);

      &:hover {
        background: $table-row-hover;
      }
    }
  }
}
