// Add percentage of white to a color
@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent) {
  @return mix(black, $color, $percent);
}

/* Variables  NHS colour palette */
$nhs-blue: #0074B4;
$nhs-blue-80pct: tint($nhs-blue, 20%);
$nhs-blue-50pct: tint($nhs-blue, 50%);
$nhs-blue-30pct: tint($nhs-blue, 70%);

$nhs-dark-blue: #253746;

$nhs-orange: #e28c05;
$nhs-orange-80pct: tint($nhs-orange, 20%);
$nhs-orange-50pct: tint($nhs-orange, 50%);
$nhs-orange-30pct: tint($nhs-orange, 70%);

$nhs-lb: #0091c9;
$nhs-lb-80pct: tint($nhs-lb, 20%);
$nhs-lb-50pct: tint($nhs-lb, 50%);
$nhs-lb-30pct: tint($nhs-lb, 70%);

$nhs-ruby: #a00054;
$nhs-ruby-80pct: tint($nhs-ruby, 20%);
$nhs-ruby-50pct: tint($nhs-ruby, 50%);
$nhs-ruby-30pct: tint($nhs-ruby, 70%);

$nhs-red: #de242d;
$nhs-red-80pct: tint($nhs-red, 20%);
$nhs-red-50pct: tint($nhs-red, 50%);
$nhs-red-30pct: tint($nhs-red, 70%);

$nhs-green: #3aaa35;
$nhs-green-80pct: tint($nhs-green, 20%);
$nhs-green-50pct: tint($nhs-green, 50%);
$nhs-green-30pct: tint($nhs-green, 70%);

$nhs-turquoise: #008b94;

$nhs-grey: #f6f6f6;

$nhs-dark-grey: #9C9A9B;
$nhs-dark-grey-80pct: tint($nhs-dark-grey, 20%);
$nhs-dark-grey-50pct: tint($nhs-dark-grey, 50%);
$nhs-dark-grey-30pct: tint($nhs-dark-grey, 70%);

$admin-lb: #e5eef8;

$light-grey: #ddd;
$medium-gray: #7B868F;
$medium-gray-secondary: #9BA7AF;
$dark-grey: #4d4d4d;

$bk-grey: #f9f9f9;
$bk-dark-grey: #D9D9D9;
$bk-darker-grey: #868686;
$bk-darker-grey-secondary: #63666A;

$text-grey: #737373;

$nhs-black: #000;

$nhs-yellow-green: #a8ac00;

$active-grad-start: #4f90c7;
$active-grad-end: #1f71b8;
$table-row-hover: #b9cfe1;

$nhs-color-map: (
        nhs-blue: $nhs-blue,
        nhs-red: $nhs-red,
        nhs-orange: $nhs-orange,
        nhs-lb: $nhs-lb,
        nhs-ruby: $nhs-ruby,
        nhs-green: $nhs-green,
        nhs-dark-grey: $nhs-dark-grey
);
$nhs-color-names: nhs-blue nhs-red nhs-orange nhs-lb nhs-ruby nhs-green nhs-dark-grey;