spring:
  devtools:
    restart:
      enabled: true
  datasource:
    url: jdbc:mysql://${DBHOST:localhost}:${DBPORT:3306}/${DBNAME:tcs}?useUnicode=true&characterEncoding=utf8&useSSL=${USE_SSL:false}&serverTimezone=UTC
    username: ${DBUSER:root}
    password: ${DBPASSWORD:}
  flyway:
    password: ${DBPASSWORD:}
    schemas: ${DBNAME:tcs}
  elasticsearch:
    rest:
      uris: ${ES_URLS:http://localhost:9200}

logging:
    file: ${LOG_DIR:${HOME}}/tcs.log

application:

azure:
  accountName: ${CLOUD_BLOB_ACCOUNT_NAME:}
  accountKey: ${CLOUD_BLOB_ACCOUNT_KEY:}
  containerName: ${CLOUD_BLOB_CONTAINER_NAME:document-manager}

aws.s3.bucket: tisdevstor

kc:
  realm: ${KC_REALM:lin}
  client:
    id: ${KC_CLIENT_ID:api-tokens}
  server:
    url: ${KC_SERVER_URL:}
  username: ${KC_USERNAME:}
  password: ${KC_PASSWORD:}
  timeout: ${KC_TIMEOUT:10000}

enable.es.search: true
