<div *ngIf="post">
	<h2><span jhiTranslate="tcsApp.post.detail.title">Post</span> {{post.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.post.nationalPostNumber">National Post Number</span></dt>
		<dd>
			<span>{{post.nationalPostNumber}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.status">Status</span></dt>
		<dd>
			<span>{{post.status}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.postOwner">Post Owner</span></dt>
		<dd>
			<span>{{post.postOwner}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.mainSiteLocated">Main Site Located</span></dt>
		<dd>
			<span>{{post.mainSiteLocated}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.leadSite">Lead Site</span></dt>
		<dd>
			<span>{{post.leadSite}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.employingBody">Employing Body</span></dt>
		<dd>
			<span>{{post.employingBody}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.trainingBody">Training Body</span></dt>
		<dd>
			<span>{{post.trainingBody}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.approvedGrade">Approved Grade</span></dt>
		<dd>
			<span>{{post.approvedGrade}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.postSpecialty">Post Specialty</span></dt>
		<dd>
			<span>{{post.postSpecialty}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.fullTimeEquivelent">Full Time Equivelent</span></dt>
		<dd>
			<span>{{post.fullTimeEquivelent}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.leadProvider">Lead Provider</span></dt>
		<dd>
			<span>{{post.leadProvider}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.oldPost">Old Post</span></dt>
		<dd>
			<div *ngIf="post.oldPostId">
				<a [routerLink]="['/post-tis-programmes', post.oldPostId]">{{post.oldPostId}}</a>
			</div>
		</dd>
		<dt><span jhiTranslate="tcsApp.post.newPost">New Post</span></dt>
		<dd>
			<div *ngIf="post.newPostId">
				<a [routerLink]="['/post-tis-programmes', post.newPostId]">{{post.newPostId}}</a>
			</div>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'post-tis-programmes/'+ post.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
