<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

	<div class="modal-header">
		<h4 class="modal-title" id="myPostLabel" jhiTranslate="tcsApp.post.home.createOrEditLabel">Create or edit a
			Post</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" [hidden]="!post.id">
			<label for="id" jhiTranslate="global.field.id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="post.id" readonly/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.nationalPostNumber"
				   for="field_nationalPostNumber">National Post Number</label>
			<input type="text" class="form-control" name="nationalPostNumber" id="field_nationalPostNumber"
				   [(ngModel)]="post.nationalPostNumber"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.status" for="field_status">Status</label>
			<input type="text" class="form-control" name="status" id="field_status"
				   [(ngModel)]="post.status"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.postOwner" for="field_postOwner">Post
				Owner</label>
			<input type="text" class="form-control" name="postOwner" id="field_postOwner"
				   [(ngModel)]="post.postOwner"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.mainSiteLocated" for="field_mainSiteLocated">Main
				Site Located</label>
			<input type="text" class="form-control" name="mainSiteLocated" id="field_mainSiteLocated"
				   [(ngModel)]="post.mainSiteLocated"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.leadSite" for="field_leadSite">Lead Site</label>
			<input type="text" class="form-control" name="leadSite" id="field_leadSite"
				   [(ngModel)]="post.leadSite"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.employingBody" for="field_employingBody">Employing
				Body</label>
			<input type="text" class="form-control" name="employingBody" id="field_employingBody"
				   [(ngModel)]="post.employingBody"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.trainingBody" for="field_trainingBody">Training
				Body</label>
			<input type="text" class="form-control" name="trainingBody" id="field_trainingBody"
				   [(ngModel)]="post.trainingBody"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.approvedGrade" for="field_approvedGrade">Approved
				Grade</label>
			<input type="text" class="form-control" name="approvedGrade" id="field_approvedGrade"
				   [(ngModel)]="post.approvedGrade"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.postSpecialty" for="field_postSpecialty">Post
				Specialty</label>
			<input type="text" class="form-control" name="postSpecialty" id="field_postSpecialty"
				   [(ngModel)]="post.postSpecialty"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.fullTimeEquivelent"
				   for="field_fullTimeEquivelent">Full Time Equivelent</label>
			<input type="number" class="form-control" name="fullTimeEquivelent" id="field_fullTimeEquivelent"
				   [(ngModel)]="post.fullTimeEquivelent"
			/>
		</div>
		<div class="form-group">
			<label class="form-control-label" jhiTranslate="tcsApp.post.leadProvider" for="field_leadProvider">Lead
				Provider</label>
			<input type="text" class="form-control" name="leadProvider" id="field_leadProvider"
				   [(ngModel)]="post.leadProvider"
			/>
		</div>

		<div class="form-group">
			<label jhiTranslate="tcsApp.post.oldPost" for="field_oldPost">Old Post</label>
			<select class="form-control" id="field_oldPost" name="oldPost" [(ngModel)]="post.oldPostId">
				<option [ngValue]="null"></option>
				<option [ngValue]="postOption.id" *ngFor="let postOption of oldposts; trackBy: trackPostById">
					{{postOption.id}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label jhiTranslate="tcsApp.post.newPost" for="field_newPost">New Post</label>
			<select class="form-control" id="field_newPost" name="newPost" [(ngModel)]="post.newPostId">
				<option [ngValue]="null"></option>
				<option [ngValue]="postOption.id" *ngFor="let postOption of newposts; trackBy: trackPostById">
					{{postOption.id}}
				</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
