<div>
	<h2>
		<span jhiTranslate="tcsApp.programmeMembership.home.title">Programme Memberships</span>
		<button class="btn tis-btn-nhs-blue float-right create-programme-membership-tis-programmes"
				[routerLink]="['/', { outlets: { popup: ['programme-membership-tis-programmes-new'] } }]">
			<span class="fa fa-plus"></span>
			<span jhiTranslate="tcsApp.programmeMembership.home.createLabel">
            Create new Programme Membership
            </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
	</div>
	<br/>
	<div class="table-responsive" *ngIf="programmeMemberships">
		<table class="tis-table">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="programmeMembershipType"><span
						jhiTranslate="tcsApp.programmeMembership.programmeMembershipType">Programme Membership Type</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="rotation"><span jhiTranslate="tcsApp.programmeMembership.rotation">Rotation</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="curriculumStartDate"><span jhiTranslate="tcsApp.programmeMembership.curriculumStartDate">Curriculum Start Date</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="curriculumEndDate"><span jhiTranslate="tcsApp.programmeMembership.curriculumEndDate">Curriculum End Date</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="periodOfGrace"><span jhiTranslate="tcsApp.programmeMembership.periodOfGrace">Period Of Grace</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="programmeStartDate"><span jhiTranslate="tcsApp.programmeMembership.programmeStartDate">Programme Start Date</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="curriculumCompletionDate"><span
						jhiTranslate="tcsApp.programmeMembership.curriculumCompletionDate">Curriculum Completion Date</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="programmeEndDate"><span jhiTranslate="tcsApp.programmeMembership.programmeEndDate">Programme End Date</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="leavingDestination"><span jhiTranslate="tcsApp.programmeMembership.leavingDestination">Leaving Destination</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="programmeId"><span jhiTranslate="tcsApp.programmeMembership.programme">Programme</span>
					<span class="fa fa-sort"></span></th>
				<th jhiSortBy="curriculumId"><span
						jhiTranslate="tcsApp.programmeMembership.curriculum">Curriculum</span> <span
						class="fa fa-sort"></span></th>
				<th jhiSortBy="trainingNumberId"><span jhiTranslate="tcsApp.programmeMembership.trainingNumber">Training Number</span>
					<span class="fa fa-sort"></span></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let programmeMembership of programmeMemberships ;trackBy: trackId">
				<td><a [routerLink]="['../programme-membership-tis-programmes', programmeMembership.id ]">{{programmeMembership.id}}</a>
				</td>
				<td jhiTranslate="{{'tcsApp.ProgrammeMembershipType.' + programmeMembership.programmeMembershipType}}">
					{{programmeMembership.programmeMembershipType}}
				</td>
				<td>{{programmeMembership.rotation}}</td>
				<td>{{programmeMembership.curriculumStartDate | date:'mediumDate'}}</td>
				<td>{{programmeMembership.curriculumEndDate | date:'mediumDate'}}</td>
				<td>{{programmeMembership.periodOfGrace}}</td>
				<td>{{programmeMembership.programmeStartDate | date:'mediumDate'}}</td>
				<td>{{programmeMembership.curriculumCompletionDate | date:'mediumDate'}}</td>
				<td>{{programmeMembership.programmeEndDate | date:'mediumDate'}}</td>
				<td>{{programmeMembership.leavingDestination}}</td>
				<td>
					<div *ngIf="programmeMembership.programmeId">
						<a [routerLink]="['../programme-tis-programmes', programmeMembership.programmeId  ]">{{programmeMembership.programmeId}}</a>
					</div>
				</td>
				<td>
					<div *ngIf="programmeMembership.curriculumId">
						<a [routerLink]="['../curriculum-tis-programmes', programmeMembership.curriculumId  ]">{{programmeMembership.curriculumId}}</a>
					</div>
				</td>
				<td>
					<div *ngIf="programmeMembership.trainingNumberId">
						<a [routerLink]="['../training-number-tis-programmes', programmeMembership.trainingNumberId  ]">{{programmeMembership.trainingNumberId}}</a>
					</div>
				</td>
				<td class="text-center">
					<div class="btn-group">
						<button type="submit"
								[routerLink]="['../programme-membership-tis-programmes', programmeMembership.id ]"
								class="btn tis-btn-nhs-lb btn-sm">
							<span class="fa fa-eye"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'programme-membership-tis-programmes/'+ programmeMembership.id + '/edit'} }]"
								replaceUrl="true"
								class="btn tis-btn-nhs-blue btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'programme-membership-tis-programmes/'+ programmeMembership.id + '/delete'} }]"
								replaceUrl="true"
								class="btn tis-btn-nhs-ruby btn-sm">
							<span class="fa fa-remove"></span>
							<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="programmeMemberships && programmeMemberships.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
							(pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
</div>
