<div *ngIf="placementFunder">
	<h2><span jhiTranslate="tcsApp.placementFunder.detail.title">Placement Funder</span> {{placementFunder.id}}</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="row-md jh-entity-details">
		<dt><span jhiTranslate="tcsApp.placementFunder.localOffice">Local Office</span></dt>
		<dd>
			<span>{{placementFunder.localOffice}}</span>
		</dd>
		<dt><span jhiTranslate="tcsApp.placementFunder.trust">Trust</span></dt>
		<dd>
			<span>{{placementFunder.trust}}</span>
		</dd>
	</dl>

	<button type="submit"
			(click)="previousState()"
			class="btn btn-info">
		<span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
	</button>

	<button type="button"
			[routerLink]="['/', { outlets: { popup: 'placement-funder-tis-programmes/'+ placementFunder.id + '/edit'} }]"
			replaceUrl="true"
			class="btn btn-primary">
		<span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
	</button>
</div>
