name: Purge Old Artifacts

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  purge:
    name: Purge Artifacts
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Purge
        uses: c-hive/gha-remove-artifacts@v1.2.0
        with:
          age: '7 days'
